body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}

a {
    color: #FAFAFA;
    text-decoration: none;
}

.active {
    font-weight: bold;
}

ul {
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label span {
    font-weight: bold;
    margin-bottom: .5em;
    color: #AAA;
    font-size: .7em;
}

input {
    background-color: #3b3b3b;
    color: #aaa;
    border: 1px solid #555;
    border-radius: 2px;
    padding: 10px 8px;
    outline: none;
    margin: 0.2em;
}

input::placeholder {
    color: #aaa;
}

.btn, button, input[type="submit"] {
    background-color: #0094f6;
    color: #fff;
    border: none;
    border-radius: 4x;
    cursor: pointer;
    padding: 10px 8px;
    font-weight: bold;
    opacity: .8;
    font-size: 1em;
}

input:disabled {
    cursor: not-allowed;
    background-color: black;
}

button:hover,
input[type="submit"]:hover {
    opacity: 1;
}

.cancel-btn {
    background-color: #ccc;
}

.hide {
    display: none;
}