nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    font-size: 2em;
    padding: 5px;
    text-decoration: none;
    color:black;
}

nav a:hover {
    color: grey;
}

.active {
    border-bottom: 2px solid #000;
}